.movie {
    margin-bottom: 20px;
    width: 90%;
    max-width: 200px;
    background: white;
    padding: 20px;
    font-family: sans-serif;
    color: gray;
}

.movie-effect
{
  position: relative;
}
.movie-effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(3deg);
}

.movie-title {
    color: #2f2f2f;
}

.movie-poster {
    width: 90%;
    max-width: 16em;
    box-shadow: 0 10px 6px -6px #777;
}
